.avatar {
  width: 128px;
  height: 128px;
  background: #ccc;
  border-radius: 128px;
  position: relative;
}
.avatar-sm {
  width: 32px;
  height: 32px;
}
.avatar-md {
  width: 64px;
  height: 64px;
}
