.btn-default:hover {
  background: rgba(0, 0, 0, 0.1);
}

// https://www.w3.org/WAI/WCAG21/Understanding/target-size.html
.btn-square {
  height: 44px;
  width: 44px;
}

// https://codepen.io/lekoalabe/pen/JjWExoN
.btn-flex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  flex-wrap: wrap;
  > * {
    margin-right: 0.5ch;
  }
}

.btn-indicator {
  box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 5%);
  color: #fff;
  display: block;
  font-size: .675rem;
  height: 18px;
  min-width: 18px;
  padding: 1px 4px;
  position: absolute;
  right: -8px;
  text-align: center;
  top: -8px;
  transition: top .1s ease-out;
  border-radius: 18px;
}