// Don't forget to set maintainAspectRatio to false
// @link https://www.chartjs.org/docs/latest/configuration/responsive.html

$chart-default-height: 8rem !default;

// One row
.chart-sm {
  height: $chart-default-height * 0.5;
  max-height: $chart-default-height * 0.5;
}

// Two rows
.chart-md {
  height: $chart-default-height * 1.5;
  max-height: $chart-default-height * 1.5;
}

// Three rows
.chart-lg {
  height: $chart-default-height * 3;
  max-height: $chart-default-height * 3;
}