$dropdown-fast-transition: background 0.1s ease-in-out, color 0.1s ease-in-out !default;

@keyframes dropdownAnimation {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  // Animate drop appearance
  .dropdown .dropdown-menu.show {
    animation-name: dropdownAnimation;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
}

// Always enable shadow
header .dropdown-menu {
  box-shadow: $dropdown-box-shadow;
}

// Restyle the caret icon
.dropdown-toggle:after {
  border: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
}

.dropdown-item {
  transition: $dropdown-fast-transition;
}

// Allow large dropdown menus
.dropdown-menu-lg {
  min-width: $dropdown-min-width * 2;
}

// List group in drops
.dropdown .list-group .list-group-item {
  border-width: 0;
  border-bottom-width: 1px;
  margin-bottom: 0;

  &:first-child {
    border-top-width: 1px;
  }
  &:first-child,
  &:last-child {
    border-radius: 0;
  }

  &:hover {
    background: $gray-100;
  }

  l-i {
    --size: 24px;
  }
}

// Bottom action of dropdown
.dropdown-footer {
  display: block;
  padding: $dropdown-header-padding;
  @include font-size($font-size-sm);
  color: $dropdown-header-color;
  white-space: nowrap; // as with > li > a
  text-align: center;

  &:hover {
    background-color: $list-group-hover-bg;
    color: $dropdown-header-color;
    text-decoration: none;
  }
}
