.grid {
  --min: 15ch;
  --gap: #{$grid-gutter-width};

  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
    in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));

  &.grid-same-height {
    grid-auto-rows: 1fr;

    .card {
      height: 100%;
    }
  }

  .card {
    margin-bottom: 0;
  }
}
