// Two methods of wrapping your app
// @link https://ilxanlar.medium.com/you-shouldnt-rely-on-css-100vh-and-here-s-why-1b4721e74487
html {
  height: -webkit-fill-available;
}
.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
  height: 100vh; // This is needed to make section.scroller work as intended
  height: calc(var(--vh, 1vh) * 100);

  // This doesn't seem to work as expected
  // height: -moz-available;
  // height: -webkit-fill-available;
  // height: stretch;
}

// Do not use this, it breaks offcanvas sidebar
// .wrapper-fixed {
//   align-items: stretch;
//   display: flex;
//   position: fixed;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
// }

/* Main container */

.main {
  display: flex;
  width: 100%;
  height: 100%;
  background: $body-bg;
  flex-direction: column;
  section {
    flex: 1 1 0%;

    &.scroller {
      height: 100%;
      overflow: auto;
    }
  }
}

@include media-breakpoint-up(md) {
  .main {
    max-height: 100vh;
  }
}

/* Header */

.main-header {
  background: $header-bg;
  height: $sidebar-brand-height;
  border-bottom: 1px solid $nav-tabs-border-color;

  // We always keep everything on one line. We rely on our bs-tabs component to fit things as needed
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1040;

  button {
    border-radius: 0;
    height: $sidebar-brand-height;

    l-i {
      --size: 24px;
    }
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.main-header-info {
  display: flex;
  align-items: center;
  flex-grow: 0;
  max-width: 70vw; // leave some space for the tabs
  overflow: hidden;
  min-height: $sidebar-brand-height; // ensure consistent layout if tabs shift below

  // Make space for fixed menu icon
  padding-left: calc(44px + ($spacer * 0.5));

  @include media-breakpoint-up(md) {
    padding-left: $container-padding-x;
  }

  .main-header-info-back {
    l-i {
      --size: 24px;
    }
  }

  a + nav {
    margin-left: 0.5rem;
  }
  .breadcrumb {
    margin-bottom: 0;
    align-items: center;
  }
  // @link https://tobiasahlin.com/blog/flexbox-break-to-new-row/
  .breadcrumb-break {
    flex-basis: 100%;
    height: 0;
    width: 0;
  }
  .breadcrumb-item {
    font-size: $font-size-sm;

    &.active {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      max-width: min(380px, 70vw);
      clear: both;
      padding-left: 0;

      // Hide separator
      &::before {
        content: none;
      }
    }
  }
  .breadcrumb-item {
    &.active {
      font-size: 1.2em;
    }
  }
}

.main-header-nav,
.main-header-tabs {
  padding: ($spacer * 0.5) ($grid-gutter-width * 0.5);
  display: flex;
  justify-content: flex-end; // Align to end
  flex-grow: 1; // Fill space to allow responsive tabs
}

// Nicely tuck the tabs to the bottom
.main-header-tabs {
  padding-bottom: 0;
  height: $sidebar-brand-height;
  align-items: flex-end; // Align to bottom of container
  align-self: flex-end;
  position: relative;
  bottom: -1px;

  .bs-tabs-dropdown a.active {
    white-space: nowrap;
  }

  .nav-tabs {
    border-bottom: 0;
  }
}

/* Footer */

.main-footer {
  background: $header-bg;
  border-top: 1px solid $nav-tabs-border-color;
  min-height: $sidebar-footer-height;
  padding: 0 $spacer;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  .input-group {
    width: auto;
  }

  // Automate spacing
  > * {
    margin-top: $spacer * 0.25;
    margin-bottom: $spacer * 0.25;
  }
  > *:not(:first-child) {
    margin-left: $spacer * 0.25;
    margin-right: $spacer * 0.25;
  }

  // Nicer outlines in groups
  .btn-group {
    .btn:not(.first-child) {
      margin-left: -1px;
    }
  }

  // should be the same as btn-group
  .dropdown,
  .dropup {
    display: inline-flex;
    vertical-align: middle;
  }
}

// Main form (it can wrap main or be the first child)
.wrapper > form,
.main > form {
  display: flex;
  height: 100%;
  flex-direction: column;
}
