// Without this, multi line tabs look very ugly
.nav-tabs li a {
  height: calc(100% + 1px);
}

// Prevent layout change due to js init
.nav-tabs-deep,
.nav-tabs-responsive {
  visibility: hidden;
}

// Applied if too big for container
.nav-tabs-dropdown {
  a.active {
    @include caret();
  }
  a:not(.active) {
    display: none;
  }
}

// Invalid tabs
.nav-link.is-invalid {
  color: $danger;
  // Don't rely only on color
  padding-right: $input-height-inner;
  background-image: escape-svg($form-feedback-icon-invalid);
  background-repeat: no-repeat;
  background-position: right $input-height-inner-quarter center;
  background-size: $input-height-inner-half $input-height-inner-half;
}
