.table {
  tr,
  td,
  th {
    border-color: $table-border-color;
  }

  & > :not(:first-child) {
    border-color: $table-border-color;
  }

  th,
  td {
    padding-left: $container-padding-x;
    padding-right: $container-padding-x;
  }

  > tbody {
    background: #fff;

    > tr > td {
      vertical-align: middle;
    }
  }
}

// Fixes tooltip
table > :not(caption) .tooltip {
  padding: $tooltip-arrow-height;
}
