.table {
  &[width] {
    width: auto;
    max-width: 100%;
  }

  tr,
  td,
  th {
    border-color: $table-border-color;
  }

  & > :not(:first-child) {
    border-color: $table-border-color;
  }

  th,
  td {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }

  > tbody {
    background: #fff;
  }

  td,
  th {
    vertical-align: middle;
  }

  // Fit column to actions width in last column
  &.table-actions {
    tr td:last-child,
    tr th:last-child {
      width: 1%;
      white-space: nowrap;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  // Fixes tooltip
  > :not(caption) .tooltip {
    padding: $tooltip-arrow-height;
  }
}
