.list-group-tree {
  .list-group-item button {
    background: none;
    color: inherit;
    border: none;
    outline: none;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;

    span {
      margin-left: 0.5em;
    }
  }

  .list-group-item-l2 {
    padding-left: 2em;
  }
  .list-group-item-l3 {
    padding-left: 3em;
  }
  .list-group-item-l4 {
    padding-left: 4em;
  }

  .collapsing {
    transition: none;
  }

  button[aria-expanded="false"] .list-group-tree-collapse {
    display: none;
  }
  button[aria-expanded="true"] .list-group-tree-expand {
    display: none;
  }
}
