<p class="text-end text-muted">Showing 6 of 22 results</p>
<div class="grid grid-4 grid-large">
  <div class="card text-center">
    <div class="card-body">
      <div class="avatar avatar-thumb mx-auto mb-4">
        <img src="https://randomuser.me/api/portraits/thumb/men/75.jpg" alt="" />
      </div>
      <h5 class="font-size-15 mb-1"><a href="#" class="text-dark">Rafael Morales</a></h5>
      <p class="text-muted">Backend Developer</p>

      <div>
        <a href="#" class="badge bg-primary m-1">Php</a>
        <a href="#" class="badge bg-primary m-1">Java</a>
        <a href="#" class="badge bg-primary m-1">Python</a>
      </div>
    </div>
    <div class="card-footer bg-transparent border-top">
      <div class="contact-links d-flex">
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="message"></l-i></a>
        </div>
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="bar_chart"></l-i></a>
        </div>
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="person"></l-i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /card -->
  <div class="card text-center">
    <div class="card-body">
      <div class="avatar avatar-thumb bg-info-subtle mx-auto mb-4">
        <span>M</span>
      </div>
      <h5 class="font-size-15 mb-1"><a href="#" class="text-dark">Mark Ellison</a></h5>
      <p class="text-muted">Full Stack Developer</p>

      <div>
        <a href="#" class="badge bg-primary m-1">Ruby</a>
        <a href="#" class="badge bg-primary m-1">Php</a>
        <a href="#" class="badge bg-primary m-1">2 + more</a>
      </div>
    </div>
    <div class="card-footer bg-transparent border-top">
      <div class="contact-links d-flex">
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="message"></l-i></a>
        </div>
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="bar_chart"></l-i></a>
        </div>
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="person"></l-i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /card -->
  <div class="card text-center">
    <div class="card-body">
      <div class="avatar avatar-thumb mx-auto mb-4">
        <img src="https://randomuser.me/api/portraits/thumb/men/70.jpg" alt="" />
      </div>
      <h5 class="font-size-15 mb-1"><a href="#" class="text-dark">José Ricardo</a></h5>
      <p class="text-muted">Backend Developer</p>

      <div>
        <a href="#" class="badge bg-primary m-1">Php</a>
        <a href="#" class="badge bg-primary m-1">Javascript</a>
        <a href="#" class="badge bg-info m-1">+3 more</a>
      </div>
    </div>
    <div class="card-footer bg-transparent border-top">
      <div class="contact-links d-flex">
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="message"></l-i></a>
        </div>
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="bar_chart"></l-i></a>
        </div>
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="person"></l-i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /card -->
  <div class="card text-center">
    <div class="card-body">
      <div class="avatar avatar-thumb mx-auto mb-4">
        <img src="https://randomuser.me/api/portraits/thumb/men/69.jpg" alt="" />
      </div>
      <h5 class="font-size-15 mb-1"><a href="#" class="text-dark">Edouard Charles</a></h5>
      <p class="text-muted">Project manager</p>

      <div>
        <a href="#" class="badge bg-primary m-1">Php</a>
        <a href="#" class="badge bg-primary m-1">C#</a>
      </div>
    </div>
    <div class="card-footer bg-transparent border-top">
      <div class="contact-links d-flex">
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="message"></l-i></a>
        </div>
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="bar_chart"></l-i></a>
        </div>
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="person"></l-i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /card -->
  <div class="card text-center">
    <div class="card-body">
      <div class="avatar avatar-thumb bg-info-subtle mx-auto mb-4">
        <span>M</span>
      </div>
      <h5 class="font-size-15 mb-1"><a href="#" class="text-dark">Mark Ellison</a></h5>
      <p class="text-muted">Full Stack Developer</p>

      <div>
        <a href="#" class="badge bg-primary m-1">Ruby</a>
        <a href="#" class="badge bg-primary m-1">Php</a>
        <a href="#" class="badge bg-primary m-1">2 + more</a>
      </div>
    </div>
    <div class="card-footer bg-transparent border-top">
      <div class="contact-links d-flex">
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="message"></l-i></a>
        </div>
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="bar_chart"></l-i></a>
        </div>
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="person"></l-i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /card -->
  <div class="card text-center">
    <div class="card-body">
      <div class="avatar avatar-thumb bg-info-subtle mx-auto mb-4">
        <span>M</span>
      </div>
      <h5 class="font-size-15 mb-1"><a href="#" class="text-dark">Mark Ellison</a></h5>
      <p class="text-muted">Full Stack Developer</p>

      <div>
        <a href="#" class="badge bg-primary m-1">Ruby</a>
        <a href="#" class="badge bg-primary m-1">Php</a>
        <a href="#" class="badge bg-primary m-1">2 + more</a>
      </div>
    </div>
    <div class="card-footer bg-transparent border-top">
      <div class="contact-links d-flex">
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="message"></l-i></a>
        </div>
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="bar_chart"></l-i></a>
        </div>
        <div class="flex-fill">
          <a href="#" class="btn btn-default"><l-i name="person"></l-i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /card -->
</div>
<!-- /grid-->

<ul class="pagination justify-content-center mt-3">
  <li class="page-item">
    <a class="page-link" href="/partials/user-grid-2.html" aria-label="Previous">
      <span aria-hidden="true">
        <l-i name="navigate_before"></l-i>
      </span>
    </a>
  </li>

  <li class="page-item">
    <a class="page-link" href="/partials/user-grid-1.html">1</a>
  </li>
  <li class="page-item"><a class="page-link" href="/partials/user-grid-2.html">2</a></li>

  <li class="page-item active" aria-current="page">
    <a class="page-link" href="#">
      3
      <span class="visually-hidden">(current)</span>
    </a>
  </li>
  <li class="page-item disabled">
    <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Next">
      <span aria-hidden="true">
        <l-i name="navigate_next"></l-i>
      </span>
    </a>
  </li>
</ul>