.table-responsive-auto {
  td,
  th {
    white-space: nowrap;
    vertical-align: middle;
    text-overflow: ellipsis;
  }

  @include media-breakpoint-down(md) {
    .btn span {
      display: none;
    }
  }
}
