body,
html {
  height: 100%;
}

html {
  overflow-y: auto;
}

img:not([src]) {
  display: none;
}

.container-expand {
  margin-left: $grid-gutter-width * -0.5;
  margin-right: $grid-gutter-width * -0.5;
}
