$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    ),
    "viewport-width": (
      property: width,
      class: vw,
      values: (
        50: 50vw,
        100: 100vw,
      ),
    ),
    "min-viewport-width": (
      property: min-width,
      class: min-vw,
      values: (
        50: 50vw,
        100: 100vw,
      ),
    ),
    "viewport-height": (
      property: height,
      class: vh,
      values: (
        50: 50vh,
        100: 100vh,
      ),
    ),
    "min-viewport-height": (
      property: min-height,
      class: min-vh,
      values: (
        50: 50vh,
        100: 100vh,
      ),
    ),
  )
);
